.adminContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.adminContainer form {
  margin: 20px 0 10px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminContainer form textarea {
  height: 80px;
  width: 75%;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}
.adminContainer form .btnRegister {
  margin: 15px 0 20px 0;
  height: 40px;
  width: 75%;
  border-radius: 5px;
  border: none;
  background-color: #3366ff;
  color: #fff;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: rgba(66, 65, 65, 0.5);
  border-radius: 5px;
  margin: 12px 0;
  justify-content: center;
  padding: 14px 8px;

}
.list p {
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
}

.list button {
  margin-right: 5px;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  width: auto;
  text-align: center;
  font-size: 14px;
}

.list .btnDone {
  color: #ffcc23;
  background: transparent;
  transition: all 1s;
}

.list .btnDone:hover {
  border: 1px solid #ffcc23;
}

.btnLogout {
  position: fixed;
  bottom: 6%;
  right: 5%;
  height: 70px;
  width: 70px;
  border: 0;
  border-radius: 50%;
  font-weight: bold;
  background-color: rgba(219, 38, 41, 0.6);
  color: #fff;
  font-size: 16px;
  transition: all 0.3s;
}
.btnLogout:hover {
  background-color: rgba(219, 38, 41, 1);
}


@media (min-width: 200px) and (max-width: 1024px) {
  .adminContainer form {
    width: 100%;
  }

  .list {
    width: 90%;
    padding: 15px
  }
}


@media (min-width: 1024px) and (max-width: 1920px) {
  .adminContainer form {
    width: 75%;
  }

  .adminContainer form .btnRegister{
    width: 50%;
   
  }

  .list {
    width: 50%;
    padding: 15px
  }
}
